.card {
  @media (max-width: $mantine-breakpoint-sm) {
    min-width: rem(180px);
    max-width: rem(220px);
  }

  @media (min-width: $mantine-breakpoint-sm) {
    min-width: rem(221px);
    max-width: rem(300px);
  }
}

.banner {
  background-color: rgba(0, 0, 0, 0.1);
}
